/* .container {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100vh;
} */

.content {
    min-height: 250px;
    padding: 15px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.loginWrapper {
    background-image: url("../images/login-page.jpg");
    background-size: cover;
}

.loginContainer {
    width: 100%;
    position: relative;
    min-height: 100vh;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* padding: 80px 40px; */
    height: 100%;
}

.login-form {
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    position: relative;
    flex-direction: column;
}

.loginCard {
    background: #090b13;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    padding: 2rem;
    box-shadow: 2px 2px 11px #00000017;
}

.spinner {
    position: fixed;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 9999;
    display: none;
}

.spinner::after {
    content: '';
    display: block;
    position: absolute;
    left: 48%;
    top: 40%;
    width: 40px;
    height: 40px;
    border-style: solid;
    border-color: black;
    border-top-color: transparent;
    border-width: 4px;
    border-radius: 50%;
    -webkit-animation: spin .8s linear infinite;
    animation: spin .8s linear infinite;
}

.boxWrapper {
    margin-top: 70px;
    padding: 15px;
    padding-bottom: 0;
    padding-top: 13px;
}


.center-container {
    width: max-content;
    height: max-content;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 70px;
}

.playerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 15%;
    width: 70%;
    height: 100%;
    min-height: 100vh;
    box-sizing: border-box;
}


.dropdown-item:hover {
    color: #090b13
}

.default-color {
    color: #fff;
    background-color: #040714;
}

.card {
    background-color: #011019;
    color: #fff;
}

.card-title {
    font-size: 18px;
    margin-bottom: 0;
}

.card-header {
    padding: 12px !important;
    background-color: #011019;
    border-bottom: 1px solid #fff
}

.card-body {
    padding: 12px
}

.dropdown-item {
    color: #fff
}

.slick-slide {
    height: 200px;
}

.slick-slide img {
    height: 200px;
}

.me-left-menu {
    font-size: 13px;
    position: relative;
    background-color: #011019;
    overflow: hidden;
    border-radius: 3px !important;
}

.me-left-menu h3 {
    font-size: 18px;
    line-height: 14px;
    margin-bottom: 20px;
    color: #333;
}

.me-left-menu .me-menu-header {
    position: relative;
    margin: 0;
    padding: 10px;
    color: #fff;
    border-bottom: 1px solid #f4f4f4;
    height: 57px;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    font-weight: 500;
}

.me-left-menu .me-menu-body .me-current-title {
    border-left: 4px solid #5cb85c;
    background-color: #011019;
}

.me-left-menu .me-menu-body .me-menu-title {
    line-height: 36px;
    padding-left: 10px;
    font-size: 15px;
    /* border-left: 3px solid #fff; */
}

.me-menu-title:hover {
    color: #5cb85c;
    cursor: pointer;
}

.me-menu-title {
    color: #fff;
}

.me-left-menu p {
    margin: 0;
}

.profile-image {
    width: 10%;
    border-radius: 50%;
    margin-right: auto;
    margin-left: auto;
    display: block;
    z-index: 0;
}

.boxGrey {
    border-radius: 5px;
    border: 1px solid #e6e6e685;
    margin-top: 15px;
    box-shadow: 4px 6px 7px 0 #0000;
    transition: box-shadow .2s ease-in, -webkit-box-shadow .2s ease-in;
}

.boxGrey .boxHeader {
    background: #5cb85b29;
    transition: background .2s ease-in;
}

.boxHeader {
    padding: 15px;
    min-height: 49px;
    color: #444;
    display: block;
    padding: 10px;
    position: relative;
}

.box-header .box-title,
.box-header>.fa,
.box-header>.glyphicon,
.box-header>.ion {
    display: inline-block;
    font-size: 15px;
    margin: 0;
    line-height: 1;
}

.boxGray .box-title {
    color: #444;
}

.boxGray .box-title,
.boxGray:hover .box-title {
    transition: color .2s ease-in;
}

.box-header .box-title,
.box-header>.glyphicon,
.box-header>.ion,
box-header>.fa {
    font-size: 16px;
}

.box .boxHeader {
    position: relative;
}

.box-body {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 15px;
}

.box-title i,
.fa-circular {
    border-radius: 50px;
    position: relative;
    color: #5cb85b !important;
}

.fontAwesome {
    width: 30px;
    text-align: center;
    display: inline-block;
}

.table.info tr td:first-child {
    white-space: nowrap !important;
}

.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}

.btn-group-sm>.btn,
.btn-sm {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 2;
    border-radius: 3px;
}

.btn-default {
    color: #fff;
    background-color: #011019;
    border-color: #ccc;
}

.btn-default:hover {
    color: #5cb85b;
}

.btn-group-sm>.btn,
.btn-sm {
    line-height: inherit !important;
}


.edit-profile img {
    z-index: -1;
}

.playerWrapper {
    width: 96%;
    height: 80vh;
    position: relative;
}

.controlsWrapper {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1;
    opacity: 0;
}

.controlsWrapper:hover {
    opacity: 1;
}

.control-item {
    color: #777;
    font-size: 50px;
    transform: scale(0.9);
}

.control-item:hover {
    color: #fff;
    transform: scale(1);
}

.control-bar {
    color: #777;
    transform: scale(0.9);
}

.control-bar:hover {
    color: #fff;
    transform: scale(0.95);
}

.bottom-icon {
    color: #999;
    /* margin-top: 4px; */
    font-size: 25px;
}

.bottom-icon:hover {
    color: #fff;
}

.volumeSlider {
    width: 100%;
    color: #5cb85b !important;
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@media (max-width: 574px) {
    .loginCard {
        margin-left: 24px;
    }

}

@media (max-width: 768px) {
    .childWrapper {
        margin-top: 24px;
    }

    .profile-image {
        width: 15%;
    }

    .playerWrapper {
        height: 50vh;
    }

    .playerContainer {
        min-height: 80vh;
        width: 90vw;
        left: 5%;
    }
}