.container {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100vh;
}

.content {
    width: 100%;
    position: relative;
    min-height: 100vh;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* padding: 80px 40px; */
    height: 100%;
}

.loginWrapper {
    background-image: url("../images/login-page.jpg");
    background-size: cover;
}

.login-form {
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    position: relative;
    flex-direction: column;
}

.loginCard {
    background: #090b13;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    padding: 2rem;
    box-shadow: 2px 2px 11px #00000017;
}

.spinner {
    position: fixed;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 9999;
    display: none;
}

.spinner::after {
    content: '';
    display: block;
    position: absolute;
    left: 48%;
    top: 40%;
    width: 40px;
    height: 40px;
    border-style: solid;
    border-color: black;
    border-top-color: transparent;
    border-width: 4px;
    border-radius: 50%;
    -webkit-animation: spin .8s linear infinite;
    animation: spin .8s linear infinite;
}

.dropdown-item:hover {
    color: #090b13
}

.dropdown-item {
    color: #fff
}

.slick-slide {
    height: 200px;
}

.slick-slide img {
    height: 200px;
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@media (max-width: 574px) {
    .loginCard {
        margin-left: 24px;
    }
}